.gradient {
    max-width: 414px;
    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(to right, #0000 33.5%, #bababa66 33.7% 33.7%, #0000 33.9% 66%, #bababa66 66.2% 66.2%, #0000 66.4% 100%, #0000 0);
      
    @include tablet-up{
    max-width: 1024px;
    background-image: linear-gradient(to right, #0000 27%, #bababa66 27.1% 27.1%, #0000 27.2% 49.9%, #bababa66 50% 50%, #0000 50.1% 72.8%, #bababa66 72.9% 72.9%, #0000 73% 100%, #0000 0);
       }
          
    @include desktop-up {
     max-width: 1280px;
     background-image: linear-gradient(to right, #0000 26.3%, #bababa66 26.4% 26.4%, #0000 26.5% 49.9%, #bababa66 50% 50%, #0000 50.1% 73.5%, #bababa66 73.6% 73.6%, #0000 73.7% 100%, #0000 0);
       }
      }
    
      .footer-gradient {
    max-width: 414px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    
    background-image: linear-gradient(to right, #0000 61.2%, rgba(122, 122, 122, 0.4) 61.4% 61.4%, #0000 61.6% 100%, #0000 0);
      
    @include tablet-up{
    max-width: 1024px;
    padding: 80px 0;
    background-image: linear-gradient(to right, #0000 49.9%, rgba(122, 122, 122, 0.4) 50% 50%, #0000 50.1% 72.8%, rgba(122, 122, 122, 0.4) 72.9% 72.9%, #0000 73% 100%, #0000 0);
       }
          
    @include desktop-up {
     max-width: 1280px;
     background-image: linear-gradient(to right, #0000 49.9%, rgba(122, 122, 122, 0.4) 50% 50%, #0000 50.1% 73.5%, rgba(122, 122, 122, 0.4) 73.6% 73.6%, #0000 73.7% 100%, #0000 0);
       }
      }
    