/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat/montserrat-v25-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat/montserrat-v25-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat/montserrat-v25-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat/montserrat-v25-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat/montserrat-v25-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat/montserrat-v25-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* Times New Roman-regular  */

@font-face {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/timesNewRoman/TimesNewRomanMTStd.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/timesNewRoman/TimesNewRomanMTStd.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/timesNewRoman/TimesNewRomanMTStd.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/timesNewRoman/TimesNewRomanMTStd.woff') format('woff'), /* Modern Browsers */
       url('../fonts/timesNewRoman/TimesNewRomanMTStd.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/timesNewRoman/TimesNewRomanMTStd.svg') format('svg'); /* Legacy iOS */
}

/* Times New Roman-Bold  */

@font-face {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/timesNewRoman/TimesNewRomanMTStd-Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/timesNewRoman/TimesNewRomanMTStd-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/timesNewRoman/TimesNewRomanMTStd-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/timesNewRoman/TimesNewRomanMTStd-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/timesNewRoman/TimesNewRomanMTStd-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/timesNewRoman/TimesNewRomanMTStd-Bold.svg') format('svg'); /* Legacy iOS */
}

/* Film P3  */

@font-face {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/filmp3/FilmP3Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/filmp3/FilmP3Bold.eot') format('embedded-opentype'),/* IE6-IE8 */ 
       url('../fonts/filmp3/FilmP3Bold.woff2') format('woff2'),/* Super Modern Browsers */ 
       url('../fonts/filmp3/FilmP3Bold.woff') format('woff'),/* Modern Browsers */ 
       url('../fonts/filmp3/FilmP3Bold.ttf') format('truetype'),/* Safari, Android, iOS */ 
       url('../fonts/filmp3/FilmP3Bold.svg') format('svg'); /* Legacy iOS */
}