$color-brand: #f3c653;
$color-brand-light: rgb(243 198 83 / 0.7);
$color-brand-dark: #c79002;
$color-text: #7a7a7a;
$color-text-dark: #5f5f5f;
$color-text-light: #bababa;
$color-text-modal: #808080;
$color-title-light: #b4b4b4;
$color-address: #e5e5e5;
$color-dark-grey: #494848;
$color-mid-grey: #828282;
$color-white: #fff;
$color-black: #000;

$bg-light: #fffdee;
$bg-dark: #f0ecd6;
$bg-footer: #0e0c07;
$bg-arrow: rgb(0 0 0 / 0.65);
$bg-button: rgb(0 0 0 / 0.4);

$header-shade: linear-gradient(
  180deg,
  #000 0%,
  rgb(0 0 0 / 0.55) 54.17%,
  rgb(0 0 0 / 0) 100%
);

$vertical-lines-m: linear-gradient(to right, #0000 33.5%, #bababa66 33.7% 33.7%, #0000 33.9% 66%, #bababa66 66.2% 66.2%, #0000 66.4% 100%, #0000 0);
$vertical-lines-t: linear-gradient(to right, #0000 27%, #bababa66 27.1% 27.1%, #0000 27.2% 49.9%, #bababa66 50% 50%, #0000 50.1% 72.8%, #bababa66 72.9% 72.9%, #0000 73% 100%, #0000 0);
$vertical-lines-d: linear-gradient(to right, #0000 26.3%, #bababa66 26.4% 26.4%, #0000 26.5% 49.9%, #bababa66 50% 50%, #0000 50.1% 73.5%, #bababa66 73.6% 73.6%, #0000 73.7% 100%, #0000 0);
    

$border-radius-small: 2px;
$border-radius-big: 25px;

$transition-time: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
