<div class="container">
  <div class="about-restaurant">
    <div class="about-restaurant__wrapper-container">
      <div class="about-restaurant__wrapper">
        <h2 class="about-restaurant__title">Amet minim mollit non</h2>
        <span class="logo about-restaurant__logo">MIMIHO</span>
        <p class="about-restaurant__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="about-restaurant__wrapper-industrial">
        <picture> 
            <source srcset="./images/pages/mobile/restaurant-industrial-interior-m.jpg 1x, ./images/pages/mobile/restaurant-industrial-interior-m@2x.jpg 2x" media="(min-width: 414px)"/>
            <source srcset="./images/pages/tablet/restaurant-industrial-interior-t.jpg 1x" media="(min-width: 970px)"/>
            <source>
            <img src="./images/pages/mobile/restaurant-industrial-interior-m.jpg" alt="Зала ресторану">

        </picture>
      </div>
    </div>

    <div class="about-restaurant__wrapper-modern">
      <img
        class="about-restaurant__modern-img"
        srcset="
          ./images/pages/mobile/restaurant-modern-interior-m.jpg    1x,
          ./images/pages/mobile/restaurant-modern-interior-m@2x.jpg 2x
        "
        src="./images/pages/mobile/restaurant-modern-interior-m.jpg"
        alt="Зала ресторану"
      />
      <p class="about-restaurant__second-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</div>
