<button class="main-button main-button--dark-table" type="button">
  Забронювати столик
</button>
<button class="main-button main-button--dark" type="button">
  Переглянути ціни
</button>
<button class="main-button main-button--dark" type="button">Детальніше</button>
<button class="main-button main-button--translucent" type="button">
  Забронювати столик
</button>
<button class="main-button main-button--translucent" type="button" data-modal-open>
  Забронювати номер
</button>
<button class="main-button main-button--translucent" type="button">
  Переглянути меню
</button>
<button class="main-button main-button--translucent" type="button">
  Переглянути ціни
</button>

<button class="book-button" type="button">Оформити бронювання</button>
<button class="book-button book-button--modal" type="submit">
  Оформити бронювання
</button>
