<button class="button button__restorant-menu" type="submit">
  Забронювати столик
</button>
<button class="button button__view-prices">Переглянути ціни</button>
<button class="button button__details">Детальніше</button>
<button
  class="button button__restorant-menu button__restorant-menu--transparent"
  type="submit"
>
  Забронювати столик
</button>
<button class="button button__book-room button__book-room--transparent">
  Забронювати номер
</button>
<button class="button button__view-menu button__view-menu--transparent">
  Переглянути меню
</button>
<button class="button button__view-prices button__view-prices--transparent">
  Переглянути ціни
</button>

<button class="button button__reservation">Оформити бронювання</button>
<button class="button button__reservation button__reservation--rect">
  Оформити бронювання
</button>
<button class="button button__reservation-mobile">Оформити бронювання</button>
<button
  class="button button__reservation-mobile button__reservation-mobile--rect"
>
  Оформити бронювання
</button>
