<section class="convenience">
  <div class="gradient convenience__gradient">
    <div class="container">
      <h2 class="convenience__title">Зручності у номері</h2>
      <p class="convenience__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <ul class="convenience__list">
        <li class="convenience__item">
          <h3 class="convenience__subtitle">Загальні</h3>
          <div class="convenience__desc">
            <p class="convenience__info">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <p class="convenience__info">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>
        <li class="convenience__item">
          <h3 class="convenience__subtitle">Ванна кімната</h3>
          <div class="convenience__lead">
            <p class="convenience__lead-info">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <p class="convenience__info">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>
        <li class="convenience__item">
          <h3 class="convenience__subtitle">Спальня</h3>
          <p class="convenience__info">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </li>
        <li class="convenience__item">
          <h3 class="convenience__subtitle">Кухня</h3>
          <div class="convenience__desc">
            <p class="convenience__info">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
            <p class="convenience__info">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </div>
        </li>
        <li class="convenience__item">
          <h3 class="convenience__subtitle">Медіа</h3>
          <p class="convenience__info">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </li>
      </ul>
      <div class="convenience__booking">
        <button
          class="js-open-modal convenience__button book-button"
          type="button"
          data-modal="room"
          id="open-modal-room"
        >
          Оформити бронювання
        </button>
        <a class="convenience__link" href="./hotel.html"
          >Повернутися до перегляду номерів
          <svg width="24" height="24" class="convenience__icon">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
