<section class="section double-room">
  <div class="container">
    <h3 class="double-room__subtitle">Amet minim mollit non</h3>
    <a class="logo logo--medium-dark double-room__logo" href="./index.html"
      >Mimiho</a
    >
    <h2 class="double-room__title">Двомісний номер</h2>
    <p class="double-room__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
</section>
