<footer class="footer">
  <div class="footer-gradient">
    <div class="container">
      <nav class="footer__navigation">
        <a class="logo logo--medium-brand footer__logo" href="./index.html"
          >Mimiho</a
        >
        <div class="footer__block">
          <ul class="footer__list">
            <li>
              <a href="./index.html" class="footer__item">Головна</a>
            </li>
            <li>
              <a href="./restaurant.html" class="footer__item">Ресторан</a>
            </li>
            <li>
              <a href="./hotel.html" class="footer__item">Готель</a>
            </li>
          </ul>

          <ul class="footer__navigation-socials">
            <li>
              <a
                href="https://www.instagram.com/"
                class="footer__socials-mobile"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg width="24" height="24">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>

              <a
                href="https://telegram.org/"
                class="footer__socials"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >Telegram
                <svg width="24" height="24">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://www.facebook.com/"
                class="footer__socials-mobile"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg width="24" height="24">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>

              <a
                href="https://www.facebook.com/"
                class="footer__socials"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >Facebook
                <svg width="24" height="24">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://telegram.org/"
                class="footer__socials-mobile"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg width="24" height="24">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>

              <a
                href="https://www.instagram.com/"
                class="footer__socials"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                Instagram
                <svg width="24" height="24">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</footer>
