<header class="header">
  <div class="container">
    <nav class="navigation">
      <a class="logo logo--small header__logo" href="./index.html">Mimiho</a>
      <div class="navigation__box">
        <ul class="navigation__links">
          <li class="navigation__option">
            <a class="navigation__item" href="./restaurant.html">Ресторан</a>
            <div class="navigation__contact-container">
              <a class="navigation__contact-phone" href="tel:0955559533">
                <svg class="navigation__icons" width="24" height="24">
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                095 555 95 33
              </a>
            </div>
            <a class="navigation__contacts-mobile" href="tel:0955559533">
              <svg class="navigation__icons" width="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
            </a>
          </li>

          <li class="navigation__option">
            <a class="navigation__item" href="./hotel.html">Готель</a>
            <div class="navigation__contact-container">
              <a class="navigation__contact-phone" href="tel:0668494089">
                <svg class="navigation__icons" width="24" height="24">
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                066 849 10 89
              </a>

              <a class="navigation__contact-phone" href="tel:0672758540">
                067 275 85 40
              </a>
            </div>

            <a class="navigation__contacts-mobile" href="tel:0668494089">
              <svg class="navigation__icons" width="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
            </a>
          </li>
        </ul>

        <!-- SOCIALS -->

        <ul class="socials header__socials">
          <li>
            <a
              href="https://www.instagram.com/"
              class="socials__icon"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/"
              class="socials__icon"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://telegram.org/"
              class="socials__icon"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
