<section class="hero-test">
  <div class="container">
    <h1>I'm your hero!!!</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore
      repellendus optio voluptas rem esse porro quaerat, perferendis a, incidunt
      sed consequatur velit nobis accusamus ab. Officiis ad ea qui magni.
    </p>
    <button class="test-button" type="button">PUSH ME</button>

    <!-- Головний контейнер слайдера -->
    <div class="hero-slider swiper-container">
      <!-- Обов'язкова обгортка -->
      <div class="hero-slider__wrapper swiper-wrapper">
        <!-- Слайди -->
        <div class="hero-slider__slide swiper-slide">
          <div class="hero-slider__image">
            <picture>
              <source
                srcset="
                  ./images/pages/mobile/hotel-hero.suit-hero-m.jpg    1x,
                  ./images/pages/mobile/hotel-hero.suit-hero-m@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/pages/tablet/hotel-hero.suit-hero-t.jpg    1x,
                  ./images/pages/tablet/hotel-hero.suit-hero-t@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/pages/desktop/hotel-hero.suit-hero-d.jpg    1x,
                  ./images/pages/desktop/hotel-hero.suit-hero-d@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/pages/mobile/hotel-hero.suit-hero-m.jpg"
                alt="Зображення 1"
              />
            </picture>
          </div>
        </div>

        <!-- <div class="hero-slider__slide swiper-slide">
          <div class="hero-slider__image">
            <picture>
              <source
                srcset="
                  ./images/pages/mobile/homepage-hero-m.jpg    1x,
                  ./images/pages/mobile/homepage-hero-m@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/pages/tablet/homepage-hero-t.jpg    1x,
                  ./images/pages/tablet/homepage-hero-t@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/pages/desktop/homepage-hero-d.jpg    1x,
                  ./images/pages/desktop/homepage-hero-d@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/pages/mobile/homepage-hero-m.jpg"
                alt="Зображення 2"
              />
            </picture>
          </div>
        </div> -->

        <div class="hero-slider__slide swiper-slide">
          <div class="hero-slider__image">
            <picture>
              <source
                srcset="
                  ./images/pages/mobile/hotel-hero.suit-hero-m.jpg    1x,
                  ./images/pages/mobile/hotel-hero.suit-hero-m@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/pages/tablet/hotel-hero.suit-hero-t.jpg    1x,
                  ./images/pages/tablet/hotel-hero.suit-hero-t@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/pages/desktop/hotel-hero.suit-hero-d.jpg    1x,
                  ./images/pages/desktop/hotel-hero.suit-hero-d@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/pages/mobile/hotel-hero.suit-hero-m.jpg"
                alt="Зображення 3"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <!-- Стрілки перемикання слайдів -->
    <div class="hero-slider__nav slider-nav">
      <button
        class="hero-slider__button hero-slider__button--prev"
        type="button"
      >
        <svg class="hero-slider__icon">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button
        class="hero-slider__button hero-slider__button--next"
        type="button"
      >
        <svg class="hero-slider__icon">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
