<section class="luxe-hero">
  <div class="hero-gradient"></div>
  <div class="container">
    <div class="luxe-hero__content">
      <h1 class="luxe-hero__heading">
        <span class="luxe-hero__heading luxe-hero__heading--accent"
          >Двомісний номер</span
        >
        люкс
      </h1>
      <p class="luxe-hero__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="luxe-hero__box">
        <a
          href="https://goo.gl/maps/HCEngrM3L9igWEYy5"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="luxe-hero__address-link map-link"
        >
          <svg class="luxe-hero__address-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          <div class="map-link__text">
            <span>Україна, м. Полтава,</span>
            <span>вул. Маршала Бірюзова, 15</span>
          </div>
        </a>
        <ul class="luxe-hero__soc luxe-soc">
          <li class="luxe-soc__item">
            <a href="#" class="luxe-soc__link">
              <span class="visually-hidden">Посилання на Instagram</span>
              <svg class="luxe-soc__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="luxe-soc__item">
            <a href="#" class="luxe-soc__link">
              <span class="visually-hidden">Посилання на Facebook</span>
              <svg class="luxe-soc__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="luxe-soc__item">
            <a href="#" class="luxe-soc__link">
              <span class="visually-hidden">Посилання на Telegram</span>
              <svg class="luxe-soc__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button
          class="js-open-modal luxe-hero__button"
          type="button"
          data-modal="price"
          id="open-modal-price"
        >
          Переглянути ціни
        </button>
      </div>
    </div>

    <!-- Головний контейнер слайдера -->
    <div class="hero-slider swiper-container">
      <!-- Обов'язкова обгортка -->
      <div class="hero-slider__wrapper swiper-wrapper">
        <!-- Слайди -->
        <div class="hero-slider__slide swiper-slide">
          <div class="hero-slider__image">
            <picture>
              <source
                srcset="
                  ./images/pages/mobile/hotel-hero.suit-hero-m.jpg    1x,
                  ./images/pages/mobile/hotel-hero.suit-hero-m@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/pages/tablet/hotel-hero.suit-hero-t.jpg    1x,
                  ./images/pages/tablet/hotel-hero.suit-hero-t@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/pages/desktop/hotel-hero.suit-hero-d.jpg    1x,
                  ./images/pages/desktop/hotel-hero.suit-hero-d@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="hero-slider__picture"
                src="./images/pages/mobile/hotel-hero.suit-hero-m.jpg"
                alt="Зображення 1"
              />
            </picture>
          </div>
        </div>

        <div class="hero-slider__slide swiper-slide">
          <div class="hero-slider__image">
            <picture>
              <source
                srcset="
                  ./images/pages/mobile/homepage-hero-m.jpg    1x,
                  ./images/pages/mobile/homepage-hero-m@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/pages/tablet/homepage-hero-t.jpg    1x,
                  ./images/pages/tablet/homepage-hero-t@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/pages/desktop/homepage-hero-d.jpg    1x,
                  ./images/pages/desktop/homepage-hero-d@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="hero-slider__picture"
                src="./images/pages/mobile/homepage-hero-m.jpg"
                alt="Зображення 2"
              />
            </picture>
          </div>
        </div>

        <div class="hero-slider__slide swiper-slide">
          <div class="hero-slider__image">
            <picture>
              <source
                srcset="
                  ./images/pages/mobile/hotel-hero.suit-hero-m.jpg    1x,
                  ./images/pages/mobile/hotel-hero.suit-hero-m@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/pages/tablet/hotel-hero.suit-hero-t.jpg    1x,
                  ./images/pages/tablet/hotel-hero.suit-hero-t@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/pages/desktop/hotel-hero.suit-hero-d.jpg    1x,
                  ./images/pages/desktop/hotel-hero.suit-hero-d@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="hero-slider__picture"
                src="./images/pages/mobile/hotel-hero.suit-hero-m.jpg"
                alt="Зображення 3"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <!-- Стрілки перемикання слайдів -->
    <div class="hero-slider__nav slider-nav">
      <button
        class="hero-slider__button hero-slider__button--prev"
        type="button"
      >
        <svg class="hero-slider__icon">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button
        class="hero-slider__button hero-slider__button--next"
        type="button"
      >
        <svg class="hero-slider__icon">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
