<section class="hero hero--colored">
  <div class="container hero__container">
    <h1 class="logo logo--large hero__logo">Mimiho</h1>
    <h2 class="hero__title">Ресторан</h2>
    <p class="hero__slogan">Смак життя 24/7</p>
    <a
      class="location"
      href="https://goo.gl/maps/5fZunggCpC7vhtTc6"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg class="location__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>
      <div class="location__text">
        <span>Україна, м. Полтава,</span>
        <span>вул. Маршала Бірюзова, 15</span>
      </div>
    </a>
    <div class="hero-buttons">
      <button
        type="button"
        data-modal="table"
        id="open-modal-table"
        class="js-open-modal main-button hero__main-button restaurant-hero__main-button main-button--translucent"
      >
        Забронювати столик
      </button>
      <a
        class="menu-link main-button hero__main-button main-button--translucent"
        href="#restaurant-menu"
        >Переглянути меню</a
      >
    </div>
    <ul class="socials hero__socials">
      <li>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="socials__icon"
        >
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="socials__icon"
        >
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="socials__icon"
        >
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
