<section class="hotel-secondary">
  <div class="gradient hotel-secondary__gradient">
    <div class="container">
      <div class="hotel-secondary__content">
        <span class="logo logo--medium-white">Mimiho</span>
        <h2 class="hotel-secondary__title">Готель</h2>
        <p class="hotel-secondary__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="hotel-secondary__flex-container">
        <div
          class="hotel-secondary__swiper-container three-img-slider__container"
        >
          <div class="three-img-slider swiper-container" dir="rtl">
            <div
              class="hotel-secondary__wrapper.two-img-slider__wrapper three-img-slider__wrapper swiper-wrapper"
            >
              <div class="three-img-slider__slide-1 swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/sliders/desktop/brown-room-d.jpg    1x,
                      ./images/sliders/desktop/brown-room-d@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/sliders/tablet/brown-room-t.jpg    1x,
                      ./images/sliders/tablet/brown-room-t@2x.jpg 2x
                    "
                  />
                  <img
                    class="three-img-slider__picture"
                    srcset="
                      ./images/sliders/mobile/brown-room-m.jpg    1x,
                      ./images/sliders/mobile/brown-room-m@2x.jpg 2x
                    "
                    src="./images/sliders/mobile/brown-room-m.jpg"
                    alt="Стейк"
                  />
                </picture>
              </div>

              <div class="three-img-slider__slide-2 swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/sliders/desktop/breakfast-2-d.jpg    1x,
                      ./images/sliders/desktop/breakfast-2-d@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/sliders/tablet/breakfast-2-t.jpg    1x,
                      ./images/sliders/tablet/breakfast-2-t@2x.jpg 2x
                    "
                  />
                  <img
                    class="three-img-slider__picture"
                    srcset="
                      ./images/sliders/tablet/breakfast-2-t.jpg    1x,
                      ./images/sliders/tablet/breakfast-2-t@2x.jpg 2x
                    "
                    src="./images/sliders/tablet/breakfast-2-t.jpg"
                    alt="Шашлик"
                  />
                </picture>
              </div>

              <div class="three-img-slider__slide-3 swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/sliders/desktop/reception-dark-d.jpg    1x,
                      ./images/sliders/desktop/reception-dark-d@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/sliders/tablet/reception-dark-t.jpg    1x,
                      ./images/sliders/tablet/reception-dark-t@2x.jpg 2x
                    "
                  />
                  <img
                    class="three-img-slider__picture"
                    srcset="
                      ./images/sliders/tablet/reception-dark-t.jpg    1x,
                      ./images/sliders/tablet/reception-dark-t@2x.jpg 2x
                    "
                    src="./images/sliders/tablet/reception-dark-t.jpg"
                    alt="Миска з їжею"
                  />
                </picture>
              </div>
            </div>

            <div class="hotel-secondary__arrows arrows" dir="ltr">
              <button class="arrow-left arrow-left--white" type="button">
                <svg width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
              </button>
              <button class="arrow-right arrow-right--white" type="button">
                <svg width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <ul class="hotel-secondary__list">
          <li class="hotel-secondary__list-item">
            <button
              class="js-open-modal hotel-secondary__button main-button main-button--translucent"
              type="button"
              data-modal="room"
              id="open-modal-room"
            >
              Забронювати номер
            </button>
          </li>
          <li class="hotel-secondary__list-item">
            <button
              class="js-open-modal hotel-secondary__button main-button main-button--translucent"
              type="button"
              data-modal="price"
              id="open-modal-price"
            >
              Переглянути ціни
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
