<section class="about-restaurant">
  <div class="gradient about-restaurant__gradient">
    <div class="container about-restaurant__container">
      <div class="about-restaurant__wrapper-container">
        <div class="about-restaurant__wrapper">
          <h2 class="visually-hidden">Про наш ресторан</h2>
          <h3 class="about-restaurant__title">Amet minim mollit non</h3>
          <span class="logo logo--medium-dark about-restaurant__logo"
            >MIMIHO</span
          >
          <p class="about-restaurant__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="about-restaurant__wrapper-industrial">
          <picture class="about-restaurant__picture-shadow">
            <source
              srcset="
                /src/images/pages/desktop/restaurant-industrial-interior-d.jpg    1x,
                /src/images/pages/desktop/restaurant-industrial-interior-d@2x.jpg 2x
              "
              media="(min-wdith: 1280px)"
            />
            <source
              srcset="
                /src/images/pages/tablet/restaurant-industrial-interior-t.jpg    1x,
                /src/images/pages/tablet/restaurant-industrial-interior-t@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/pages/mobile/restaurant-industrial-interior-m.jpg    1x,
                /src/images/pages/mobile/restaurant-industrial-interior-m@2x.jpg 2x
              "
            />
            <img
              src="/src/images/pages/mobile/restaurant-industrial-interior-m.jpg"
              alt="Зала ресторану"
            />
          </picture>
        </div>
      </div>

      <div class="about-restaurant__wrapper-modern">
        <picture>
          <source
            srcset="
              /src/images/pages/desktop/restaurant-modern-interior-d.jpg    1x,
              /src/images/pages/desktop/restaurant-modern-interior-d@2x.jpg 2x
            "
            media="(min-wdith: 1240px)"
          />
          <source
            srcset="
              /src/images/pages/tablet/restaurant-modern-interior-t.jpg    1x,
              /src/images/pages/tablet/restaurant-modern-interior-t@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              /src/images/pages/mobile/restaurant-modern-interior-m.jpg    1x,
              /src/images/pages/mobile/restaurant-modern-interior-m@2x.jpg 2x
            "
          />
          <img
            src="/src/images/pages/mobile/restaurant-modern-interior-m.jpg"
            alt="Зала ресторану"
          />
        </picture>
        <p class="about-restaurant__second-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="about-restaurant__slider two-img-slider__container">
        <div class="two-img-slider swiper-container">
          <div class="two-img-slider__wrapper swiper-wrapper">
            <div class="two-img-slider__slide swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/sliders/desktop/red-wine-d.jpg    1x,
                    ./images/sliders/desktop/red-wine-d@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/sliders/tablet/red-wine-t.jpg    1x,
                    ./images/sliders/tablet/red-wine-t@2x.jpg 2x
                  "
                />
                <img
                  class="two-img-slider__picture"
                  srcset="
                    ./images/sliders/mobile/red-wine-m.jpg    1x,
                    ./images/sliders/mobile/red-wine-m@2x.jpg 2x
                  "
                  src="./images/sliders/mobile/red-wine-m.jpg"
                  alt="Червоне вино"
                />
              </picture>
            </div>

            <div class="two-img-slider__slide swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/sliders/desktop/dinning-ware-d.jpg    1x,
                    ./images/sliders/desktop/dinning-ware-d@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/sliders/tablet/dinning-ware-t.jpg    1x,
                    ./images/sliders/tablet/dinning-ware-t@2x.jpg 2x
                  "
                />
                <img
                  class="two-img-slider__picture"
                  srcset="
                    ./images/sliders/mobile/oatmeal-m.jpg    1x,
                    ./images/sliders/mobile/oatmeal-m@2x.jpg 2x
                  "
                  src="./images/sliders/mobile/bathtub-m.jpg"
                  alt="Сніданок"
                />
              </picture>
            </div>

            <div class="two-img-slider__slide swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/sliders/desktop/brunch-mimosas-d.jpg    1x,
                    ./images/sliders/desktop/brunch-mimosas-d@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/sliders/tablet/brunch-mimosas-t.jpg    1x,
                    ./images/sliders/tablet/brunch-mimosas-t@2x.jpg 2x
                  "
                />
                <img
                  class="two-img-slider__picture"
                  srcset="
                    ./images/sliders/mobile/brunch-mimosas-m.jpg    1x,
                    ./images/sliders/mobile/brunch-mimosas-m@2x.jpg 2x
                  "
                  src="./images/sliders/mobile/brunch-mimosas-m.jpg"
                  alt="Коктейлі з їжею"
                />
              </picture>
            </div>

            <div class="two-img-slider__slide swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/sliders/desktop/coffee-shop-d.jpg    1x,
                    ./images/sliders/desktop/coffee-shop-d@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/sliders/tablet/coffee-shop-t.jpg    1x,
                    ./images/sliders/tablet/coffee-shop-t@2x.jpg 2x
                  "
                />
                <img
                  class="two-img-slider__picture"
                  srcset="
                    ./images/sliders/mobile/coffee-shop-m.jpg    1x,
                    ./images/sliders/mobile/coffee-shop-m@2x.jpg 2x
                  "
                  src="./images/sliders/mobile/coffee-shop-m.jpg"
                  alt="Кав'ярня"
                />
              </picture>
            </div>
          </div>

          <div class="arrows arrows--rigth">
            <button class="arrow-left" type="button">
              <svg width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button class="arrow-right" type="button">
              <svg width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="about-restaurant__slider-shadow"></div>
      <div class="about-restaurant__slider-shadow-second"></div>
    </div>
  </div>
</section>
