<div class="backdrop is-hidden" data-modal-table>
    <div class="modal table">
        <button type="button" class="close-btn" data-modal-table-close>
            <svg class="close-icon">
                <use href="">
                </use>
            </svg>
        </button>

        <form name="contact-form" class="modal-form">
            <h2 class="modal-title">
                Забронювати столик
            </h2>

            <div class="inputs">
                <div class="first-column">
                    <div class="field">
                        <div class="form-control">
                            <input type="text" name="person-name" id="person-name" class="form-input"
                                placeholder="Ваше ім'я">
                        </div>
                        <label for="person-name" class="form-label">На кого забронювати столик?</label>
                    </div>

                    <div class="field">
                        <div class="form-control">
                            <input type="tel" name="person-tel" id="person-tel" class="form-input"
                                placeholder="+38 (___) ___-__-__">
                        </div>
                        <label for="person-tel" class="form-label">Номер телефону</label>
                    </div>
                </div>

                <div class="second-column">
                    <div class="select-container">
                        <div class="select">
                            <input type="text" id="input" placeholder="2" onfocus="this.blur();">
                        </div>
                        <div class="option-container">
                            <div class="option">
                                <label>2</label>
                            </div>
                            <div class="option">
                                <label>3</label>
                            </div>
                            <div class="option">
                                <label>4</label>
                            </div>
                            <div class="option">
                                <label>5</label>
                            </div>
                            <div class="option">
                                <label>6</label>
                            </div>
                            <div class="option">
                                <label>7</label>
                            </div>
                        </div>
                        <label for="input" class="form-label">Столик на яку кількість осіб?</label>
                    </div>

                    <div class="select-container1">
                        <div class="select1">
                            <input type="text" id="input1" placeholder="Сьогодні" onfocus="this.blur();">
                        </div>
                        <div class="option-container1">
                            <div class="option1">
                                <label>Сьогодні</label>
                            </div>
                            <div class="option1">
                                <label>Завтра</label>
                            </div>
                            <div class="option1">
                                <label>Через день</label>
                            </div>
                            <div class="option1">
                                <label>Через 2 дні</label>
                            </div>
                            <div class="option1">
                                <label>Через 3 дні</label>
                            </div>
                            <div class="option1">
                                <label>Через 4 дні</label>
                            </div>
                        </div>
                        <label for="input1" class="form-label">На яку дату бронювати?</label>
                    </div>

                </div>
            </div>
            <div class="container-button">
                <button type="submit" class="form-button">Оформити бронювання</button>
            </div>

        </form>
    </div>
</div>