<div class="backdrop is-hidden" data-modal>
    <div class="modal ">
        <button type="button" class="close-btn" data-modal-close>
            <svg class="close-icon">
                <use>
                    <symbol id="icon-close" viewBox="0 0 32 32">
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="2"
                            d="M30 30l-28-28M2 30v0z"></path>
                    </symbol>
                </use>
            </svg>
        </button>

        <form name="contact-form" class="modal-form">
            <h2 class="modal-title">
                Забронювати номер
            </h2>
            <div class="inputs-room">
                <div class="first-column-room">
                    <div class="field">
                        <div class="form-control">
                            <input type="text" name="person-name" id="person-name" class="form-input"
                                placeholder="Ваше ім'я">
                        </div>
                        <label for="person-name" class="form-label">На кого забронювати номер?</label>
                    </div>

                    <div class="select-container1">
                        <div class="select1">
                            <input type="text" id="input1" placeholder="Сьогодні" onfocus="this.blur();">
                        </div>
                        <div class="option-container1">
                            <div class="option1">
                                <label>Сьогодні</label>
                            </div>
                            <div class="option1">
                                <label>Завтра</label>
                            </div>
                            <div class="option1">
                                <label>Через день</label>
                            </div>
                            <div class="option1">
                                <label>Через 2 дні</label>
                            </div>
                            <div class="option1">
                                <label>Через 3 дні</label>
                            </div>
                            <div class="option1">
                                <label>Через 4 дні</label>
                            </div>
                        </div>
                        <label for="input1" class="form-label">Дата заїзду</label>
                    </div>
                </div>

                <div class="second-column1">
                    <div class="field">
                        <div class="form-control">
                            <input type="tel" name="person-tel" id="person-tel" class="form-input"
                                placeholder="+38 (___) ___-__-__">
                        </div>
                        <label for="person-tel" class="form-label">Номер телефону</label>
                    </div>

                    <div class="select-container-room">
                        <div class="select-room">
                            <input type="text" id="input-room" placeholder="Двомісний люкс" onfocus="this.blur();">
                        </div>
                        <div class="option-container-room">
                            <div class="option-room">
                                <label>Двомісний люкс</label>
                            </div>
                            <div class="option-room">
                                <label>Трьохмісний</label>
                            </div>
                            <div class="option-room">
                                <label>Двомісний</label>
                            </div>
                        </div>
                        <label for="input-room" class="form-label">Категорія номеру</label>
                    </div>



                    <div class="select-container-exit">
                        <div class="select-exit">
                            <input type="text" id="input-exit" placeholder="Сьогодні" onfocus="this.blur();">
                        </div>
                        <div class="option-container-exit">
                            <div class="option-exit">
                                <label>Сьогодні</label>
                            </div>
                            <div class="option-exit">
                                <label>Завтра</label>
                            </div>
                            <div class="option-exit">
                                <label>Через день</label>
                            </div>
                            <div class="option-exit">
                                <label>Через 2 дні</label>
                            </div>
                            <div class="option-exit">
                                <label>Через 3 дні</label>
                            </div>
                            <div class="option-exit">
                                <label>Через 4 дні</label>
                            </div>
                        </div>
                        <label for="input-exit" class="form-label">Дата виїзду</label>
                    </div>
                </div>
            </div>


            <button type="submit" class="book-button book-button--modal">Оформити бронювання</button>
        </form>
    </div>
</div>