<section class="restaurant-secondary">
  <div class="gradient restaurant-secondary__gradient">
    <div class="container">
      <div class="restaurant-secondary__content">
        <span class="logo logo--medium-white">Mimiho</span>
        <h2 class="restaurant-secondary__title">Ресторан</h2>
        <p class="restaurant-secondary__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="restaurant-secondary__flex-container">
        <div
          class="restaurant-secondary__swiper-container three-img-slider__container"
        >
          <div class="three-img-slider swiper-container">
            <div class="three-img-slider__wrapper swiper-wrapper">
              <div class="three-img-slider__slide-1 swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/sliders/desktop/steak-d.jpg    1x,
                      ./images/sliders/desktop/steak-d@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/sliders/tablet/steak-t.jpg    1x,
                      ./images/sliders/tablet/steak-t@2x.jpg 2x
                    "
                  />
                  <img
                    class="three-img-slider__picture"
                    srcset="
                      ./images/sliders/mobile/steak-m.jpg    1x,
                      ./images/sliders/mobile/steak-m@2x.jpg 2x
                    "
                    src="./images/sliders/mobile/steak-m.jpg"
                    alt="Стейк"
                  />
                </picture>
              </div>

              <div class="three-img-slider__slide-2 swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/sliders/desktop/flatbread-d.jpg    1x,
                      ./images/sliders/desktop/flatbread-d@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/sliders/tablet/flatbread-t.jpg    1x,
                      ./images/sliders/tablet/flatbread-t@2x.jpg 2x
                    "
                  />
                  <img
                    class="three-img-slider__picture"
                    srcset="
                      ./images/sliders/mobile/flatbread-m.jpg    1x,
                      ./images/sliders/mobile/flatbread-m@2x.jpg 2x
                    "
                    src="./images/sliders/mobile/flatbread-m.jpg"
                    alt="Шашлик"
                  />
                </picture>
              </div>

              <div class="three-img-slider__slide-3 swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/sliders/desktop/food-bowl-d.jpg    1x,
                      ./images/sliders/desktop/food-bowl-d@2x.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/sliders/tablet/food-bowl-t.jpg    1x,
                      ./images/sliders/tablet/food-bowl-t@2x.jpg 2x
                    "
                  />
                  <img
                    class="three-img-slider__picture"
                    srcset="
                      ./images/sliders/mobile/food-bowl-m.jpg    1x,
                      ./images/sliders/mobile/food-bowl-m@2x.jpg 2x
                    "
                    src="./images/sliders/mobile/food-bowl-m.jpg"
                    alt="Миска з їжею"
                  />
                </picture>
              </div>
            </div>

            <div class="restaurant-secondary__arrows arrows arrows--left">
              <button class="arrow-left arrow-left--white" type="button">
                <svg width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
              </button>
              <button class="arrow-right arrow-right--white" type="button">
                <svg width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <ul class="restaurant-secondary__list">
          <li class="restaurant-secondary__list-item">
            <button
              class="js-open-modal restaurant-secondary__button main-button main-button--translucent"
              type="button"
              data-modal="table"
              id="open-modal-table"
            >
              Забронювати столик
            </button>
          </li>
          <li class="restaurant-secondary__list-item">
            <a
              href="./restaurant.html#restaurant-menu"
              class="menu-link restaurant-secondary__button main-button main-button--translucent"
              >Переглянути меню</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
