<section class="section restaurant-menu" id="restaurant-menu">
  <div class="gradient restaurant-menu__gradient">
    <div class="container restaurant-menu__container">
      <h2 class="restaurant-menu__section-title">Меню ресторану</h2>
      <ul class="menu-list">
        <li class="menu-list__item">
          <table class="menu__table">
            <caption class="dish-type">
              Гарячі страви
            </caption>
            <col style="width: 50%" />
            <col style="width: 25%" />
            <col style="width: 25%" />

            <tbody>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Борщ з телятини з квасолею</span><br />
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </td>
                <td class="menu-list__weight">400 г</td>
                <td class="menu-list__cost">240 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Суп сирний з куркою</span><br />
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </td>
                <td class="menu-list__weight">400 г</td>
                <td class="menu-list__cost">200 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Паста карбонара</span><br />Паста
                  тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </td>
                <td class="menu-list__weight">350 г</td>
                <td class="menu-list__cost">430 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Стейк зі свинини</span><br />Свиняча
                  вирізка, спеціі, подається з соусом солодкий чилі та овочами
                </td>
                <td class="menu-list__weight">400 г</td>
                <td class="menu-list__cost">500 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Горбуша в соусі з білого вина</span
                  ><br />Ніжна горбуша, вершковий соус на основі білого вина
                </td>
                <td class="menu-list__weight">400 г</td>
                <td class="menu-list__cost">400 грн</td>
              </tr>
            </tbody>
          </table>

          <table class="menu__table">
            <caption class="dish-type">
              Гарніри та закуски
            </caption>
            <col style="width: 50%" />
            <col style="width: 25%" />
            <col style="width: 25%" />

            <tbody>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Запечені овочі</span><br />Кабачок, перець,
                  помідор, баклажан
                </td>
                <td class="menu-list__weight">200 г</td>
                <td class="menu-list__cost">230 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Картопля фрі</span><br />Картопля, соус
                  томатний
                </td>
                <td class="menu-list__weight">150 г</td>
                <td class="menu-list__cost">160 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Картопля по-селянськи</span><br />Картопля,
                  спеції, соус пікантний
                </td>
                <td class="menu-list__weight">150 г</td>
                <td class="menu-list__cost">160 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Хрумкі соління з бочки</span><br />Огірок
                  солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </td>
                <td class="menu-list__weight">250 г</td>
                <td class="menu-list__cost">350 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Крильця курячі в медовому соусі</span
                  ><br />Крильця курячі, гірчично-медовий соус, подається з
                  морквою, селерою і соусом блючиз
                </td>
                <td class="menu-list__weight">400 г</td>
                <td class="menu-list__cost">420 грн</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="menu-list__item">
          <table class="menu__table">
            <caption class="dish-type">
              Салати
            </caption>
            <col style="width: 50%" />
            <col style="width: 25%" />
            <col style="width: 25%" />

            <tbody>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Цезар з куркою</span><br />Куряче філе,
                  листя салату, помідори чері, сир пармезан, грінки, соус цезар
                </td>
                <td class="menu-list__weight">230 г</td>
                <td class="menu-list__cost">450 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Цезар з креветками</span><br />Тигрові
                  креветки, листя салату, помідори чері, сир пармезан, грінки,
                  соус цезар
                </td>
                <td class="menu-list__weight">230 г</td>
                <td class="menu-list__cost">300 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Грецький салат</span><br />Свіжі огірок,
                  помідор, болгарський перець, оливки, сир бринза, листя салату,
                  соус
                </td>
                <td class="menu-list__weight">230 г</td>
                <td class="menu-list__cost">280 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">М’ясний салат</span><br />Куряче філе або
                  свиняча вирізка, свіжі огірок, помідор, болгарський перець,
                  соус ранч
                </td>
                <td class="menu-list__weight">230 г</td>
                <td class="menu-list__cost">300 грн</td>
              </tr>
            </tbody>
          </table>

          <table class="menu__table">
            <caption class="dish-type">
              Десерти
            </caption>
            <col style="width: 50%" />
            <col style="width: 25%" />
            <col style="width: 25%" />

            <tbody>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Торт наполеон</span>
                </td>
                <td class="menu-list__weight">230 г</td>
                <td class="menu-list__cost">300 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Торт маковий</span>
                </td>
                <td class="menu-list__weight">230 г</td>
                <td class="menu-list__cost">300 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Тірамісу</span>
                </td>
                <td class="menu-list__weight">120 г</td>
                <td class="menu-list__cost">260 грн</td>
              </tr>
            </tbody>
          </table>

          <table class="menu__table">
            <caption class="dish-type">
              Напої
            </caption>
            <col style="width: 50%" />
            <col style="width: 25%" />
            <col style="width: 25%" />

            <tbody>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Чай чорний/зелений</span>
                </td>
                <td class="menu-list__weight">500 мл</td>
                <td class="menu-list__cost">100 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Еспресо</span>
                </td>
                <td class="menu-list__weight">30 мл</td>
                <td class="menu-list__cost">100 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Американо</span>
                </td>
                <td class="menu-list__weight">150 мл</td>
                <td class="menu-list__cost">100 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Капучино</span>
                </td>
                <td class="menu-list__weight">200 мл</td>
                <td class="menu-list__cost">160 грн</td>
              </tr>
              <tr>
                <td class="menu-list__ingredients">
                  <span class="dish">Лате</span>
                </td>
                <td class="menu-list__weight">200 мл</td>
                <td class="menu-list__cost">160 грн</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
      <button
        class="js-open-modal restaurant-menu__button main-button main-button--dark"
        type="button"
        data-modal="table"
        id="open-modal-table"
      >
        Забронювати столик
      </button>
    </div>
    <!-- <div class="rectangle"></div>
    <div class="rectangle1"></div> -->
  </div>
</section>
