<section class="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Наші контакти</h2>
    <a class="logo logo--medium-dark" href="./index.html">MiMINO</a>
    <h3 class="contacts__titel">Ресторанно-готельний комплекс</h3>
    <ul class="contacts__list">
      <li class="contacts__item">
        <span class="contacts__features">Ресторан</span>
        <a class="contacts__link contacts__link--tel" href="tel:0955559533"
          >095 555 95 33</a
        >
      </li>
      <li class="contacts__item">
        <span class="contacts__features">Готель</span>
        <span>
          <svg class="contacts__icon" width="24" height="24">
            <use href=""></use>
          </svg>
          <a class="contacts__link contacts__link--tel" href="tel:0668491089"
            >066 849 10 89</a
          >
          <a class="contacts__link contacts__link--tel" href="tel:0672758540"
            >067 275 85 40</a
          >
        </span>
      </li>
      <li class="contacts__item">
        <a
          href="https://goo.gl/maps/JAmckgGyxSEpDN3L7"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
        >
      </li>
    </ul>
    <iframe
      class="contacts__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55495.54918670592!2d34.51885740729505!3d49.59397116215676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e1!3m2!1sru!2sua!4v1669910297649!5m2!1sru!2sua"
      width="384"
      height="220"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
