<section class="contacts">
  <div class="gradient contacts__gradient">
    <div class="container contacts__container">
      <h2 class="visually-hidden">Наші контакти</h2>
      <div class="contacts__content">
        <span class="logo logo--medium-dark">Mimiho</span>
        <h3 class="contacts__titel">Ресторанно-готельний комплекс</h3>
        <address>
          <ul class="contacts__list">
            <li class="contacts__item">
              <span class="contacts__features">Ресторан</span>
              <a
                class="contacts__link contacts__link--tel-restorant"
                href="tel:0955559533"
              >
                <svg class="contacts__icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                095&#160;555&#160;95&#160;33</a
              >
            </li>

            <li class="contacts__item">
              <span class="contacts__features contacts__features--hotel"
                >Готель</span
              >
              <div class="contacts__block-tell">
                <a
                  class="contacts__link contacts__link--tel"
                  href="tel:0668491089"
                >
                  <svg class="contacts__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg>
                  066&#160;849&#160;10&#160;89</a
                >
                <a
                  class="contacts__link contacts__link--tel"
                  href="tel:0672758540"
                  >067&#160;275&#160;85&#160;40</a
                >
              </div>
            </li>

            <li class="contacts__item">
              <a
                class="contacts__link contacts__link--address"
                href="https://goo.gl/maps/JAmckgGyxSEpDN3L7"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="contacts__icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                <div class="contacts__address">
                  <span>Україна, м. Полтава,</span>
                  <span>вул. Маршала Бірюзова, 15</span>
                </div>
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="contacts__map-box">
        <iframe
          class="contacts__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33347.13555681793!2d34.52127704558075!3d49.598533323516676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1670130310284!5m2!1suk!2sua"
          height="220"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
