<div class="container container--dark">
  <!-- Слайдер для використання з правої сторони -->
  <div class="three-img-slider__container">
    <div class="three-img-slider swiper-container">
      <div class="three-img-slider__wrapper swiper-wrapper">
        <div class="three-img-slider__slide-1 swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/steak-d.jpg    1x,
                ./images/sliders/desktop/steak-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/steak-t.jpg    1x,
                ./images/sliders/tablet/steak-t@2x.jpg 2x
              "
            />
            <img
              class="three-img-slider__picture"
              srcset="
                ./images/sliders/mobile/steak-m.jpg    1x,
                ./images/sliders/mobile/steak-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/steak-m.jpg"
              alt="Стейк"
            />
          </picture>
        </div>

        <div class="three-img-slider__slide-2 swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/flatbread-d.jpg    1x,
                ./images/sliders/desktop/flatbread-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/flatbread-t.jpg    1x,
                ./images/sliders/tablet/flatbread-t@2x.jpg 2x
              "
            />
            <img
              class="three-img-slider__picture"
              srcset="
                ./images/sliders/mobile/flatbread-m.jpg    1x,
                ./images/sliders/mobile/flatbread-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/flatbread-m.jpg"
              alt="Шашлик"
            />
          </picture>
        </div>

        <div class="three-img-slider__slide-3 swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/food-bowl-d.jpg    1x,
                ./images/sliders/desktop/food-bowl-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/food-bowl-t.jpg    1x,
                ./images/sliders/tablet/food-bowl-t@2x.jpg 2x
              "
            />
            <img
              class="three-img-slider__picture"
              srcset="
                ./images/sliders/mobile/food-bowl-m.jpg    1x,
                ./images/sliders/mobile/food-bowl-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/food-bowl-m.jpg"
              alt="Миска з їжею"
            />
          </picture>
        </div>
      </div>

      <div class="arrows arrows--rigth">
        <button class="arrow-left arrow-left--white" type="button">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="arrow-right arrow-right--white" type="button">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Слайдер для використання з лівої сторони -->
  <div class="three-img-slider__container">
    <div class="three-img-slider swiper-container" dir="rtl">
      <div class="three-img-slider__wrapper swiper-wrapper">
        <div class="three-img-slider__slide-1 swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/steak-d.jpg    1x,
                ./images/sliders/desktop/steak-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/steak-t.jpg    1x,
                ./images/sliders/tablet/steak-t@2x.jpg 2x
              "
            />
            <img
              class="three-img-slider__picture"
              srcset="
                ./images/sliders/mobile/steak-m.jpg    1x,
                ./images/sliders/mobile/steak-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/steak-m.jpg"
              alt="Стейк"
            />
          </picture>
        </div>

        <div class="three-img-slider__slide-2 swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/flatbread-d.jpg    1x,
                ./images/sliders/desktop/flatbread-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/flatbread-t.jpg    1x,
                ./images/sliders/tablet/flatbread-t@2x.jpg 2x
              "
            />
            <img
              class="three-img-slider__picture"
              srcset="
                ./images/sliders/mobile/flatbread-m.jpg    1x,
                ./images/sliders/mobile/flatbread-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/flatbread-m.jpg"
              alt="Шашлик"
            />
          </picture>
        </div>

        <div class="three-img-slider__slide-3 swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/food-bowl-d.jpg    1x,
                ./images/sliders/desktop/food-bowl-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/food-bowl-t.jpg    1x,
                ./images/sliders/tablet/food-bowl-t@2x.jpg 2x
              "
            />
            <img
              class="three-img-slider__picture"
              srcset="
                ./images/sliders/mobile/food-bowl-m.jpg    1x,
                ./images/sliders/mobile/food-bowl-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/food-bowl-m.jpg"
              alt="Миска з їжею"
            />
          </picture>
        </div>
      </div>

      <div class="arrows" dir="ltr">
        <button class="arrow-left arrow-left--white" type="button">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="arrow-right arrow-right--white" type="button">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
