<section class="triple-room">
	<div class="container">
		<p class="logo-subtitle">Amet minim mollit non</p>
		<h3 class="logo-title">Mimiho</h3>
		<div class="triple-room__thumb">
			<h2 class="triple-room__title">Трьохмісний номер</h2>
			<p class="triple-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
				officia consequat duis enim
				velit
				mollit. Exercitation veniam consequat sunt nostrud amet.</p>
		</div>
		<picture>
			<source srcset="./images/pages/mobile/hotel-room-m.jpg 1x, ./images/pages/mobile/hotel-room-m@2x.jpg 2x"
				media="(max-width: 1023px)" />
			<source srcset="./images/pages/tablet/hotel-room-t.jpg 1x, ./images/pages/tablet/hotel-room-t@2x.jpg 2x"
				media="(max-width: 1279px)" />
			<source srcset="./images/pages/desktop/hotel-room-d.jpg 1x, ./images/pages/desktop/hotel-room-d@2x.jpg 2x"
				media="(min-width: 1280px)" />
			<img src="./images/pages/mobile/hotel-room-m.jpg" alt="Ліжко біля вікна" />
		</picture>
		<div class="slider">
		</div>
		<button class="" type="button"><a class="link" href="#">Детальніше</a></button>
		<button class="" type="button" data-modal-open>Переглянути ціни</button>


	</div>
</section>