<section class="triple-room">
	<div class="container">
		<p class="logo-subtitle">Amet minim mollit non</p>
		<h3 class="logo-title">Mimiho</h3>
		<div class="triple-room__thumb">
			<h2 class="triple-room__title">Трьохмісний номер</h2>
			<p class="triple-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
				officia consequat duis enim
				velit
				mollit. Exercitation veniam consequat sunt nostrud amet.</p>
		</div>
		<picture>
			<source srcset="./images/pages/mobile/hotel-room-m.jpg 1x, ./images/pages/mobile/hotel-room-m@2x.jpg 2x"
				media="(max-width: 1023px)" />
			<source srcset="./images/pages/tablet/hotel-room-t.jpg 1x, ./images/pages/tablet/hotel-room-t@2x.jpg 2x"
				media="(max-width: 1279px)" />
			<source srcset="./images/pages/desktop/hotel-room-d.jpg 1x, ./images/pages/desktop/hotel-room-d@2x.jpg 2x"
				media="(min-width: 1280px)" />
			<img class="triple-room__image" src="./images/pages/mobile/hotel-room-m.jpg" alt="Ліжко біля вікна" />
		</picture>

		<!-- Slider -->
		<!-- Слайдер для використання з правої сторони -->
		<div class="two-img-slider two-img-slider--right swiper-container">
			<div class="two-img-slider__wrapper swiper-wrapper">
				<div class="swiper-slide">
					<picture>
						<source media="(min-width: 1280px)" srcset="
			              ./images/sliders/desktop/bathtub-d.jpg    1x,
			              ./images/sliders/desktop/bathtub-d@2x.jpg 2x
			            " />
						<source media="(min-width: 1024px)" srcset="
			              ./images/sliders/tablet/bathtub-t.jpg    1x,
			              ./images/sliders/tablet/bathtub-t@2x.jpg 2x
			            " />
						<img class="two-img-slider__picture" srcset="
			              ./images/sliders/mobile/bathtub-m.jpg    1x,
			              ./images/sliders/mobile/bathtub-m@2x.jpg 2x
			            " src="./images/sliders/mobile/bathtub-m.jpg" alt="Ванна кімната" />
					</picture>
				</div>

				<div class="swiper-slide">
					<picture>
						<source media="(min-width: 1280px)" srcset="
			              ./images/sliders/desktop/breakfast-d.jpg    1x,
			              ./images/sliders/desktop/breakfast-d@2x.jpg 2x
			            " />
						<source media="(min-width: 1024px)" srcset="
			              ./images/sliders/tablet/breakfast-t.jpg    1x,
			              ./images/sliders/tablet/breakfast-t@2x.jpg 2x
			            " />
						<img class="two-img-slider__picture" srcset="
			              ./images/sliders/mobile/breakfast-m.jpg    1x,
			              ./images/sliders/mobile/breakfast-m@2x.jpg 2x
			            " src="./images/sliders/mobile/breakfast-m.jpg" alt="Сніданок" />
					</picture>
				</div>

				<div class="swiper-slide">
					<picture>
						<source media="(min-width: 1280px)" srcset="
			              ./images/sliders/desktop/brunch-mimosas-d.jpg    1x,
			              ./images/sliders/desktop/brunch-mimosas-d@2x.jpg 2x
			            " />
						<source media="(min-width: 1024px)" srcset="
			              ./images/sliders/tablet/brunch-mimosas-t.jpg    1x,
			              ./images/sliders/tablet/brunch-mimosas-t@2x.jpg 2x
			            " />
						<img class="two-img-slider__picture" srcset="
			              ./images/sliders/mobile/brunch-mimosas-m.jpg    1x,
			              ./images/sliders/mobile/brunch-mimosas-m@2x.jpg 2x
			            " src="./images/sliders/mobile/brunch-mimosas-m.jpg" alt="Коктейлі з їжею" />
					</picture>
				</div>

				<div class="swiper-slide">
					<picture>
						<source media="(min-width: 1280px)" srcset="
			              ./images/sliders/desktop/coffee-shop-d.jpg    1x,
			              ./images/sliders/desktop/coffee-shop-d@2x.jpg 2x
			            " />
						<source media="(min-width: 1024px)" srcset="
			              ./images/sliders/tablet/coffee-shop-t.jpg    1x,
			              ./images/sliders/tablet/coffee-shop-t@2x.jpg 2x
			            " />
						<img class="two-img-slider__picture" srcset="
			              ./images/sliders/mobile/coffee-shop-m.jpg    1x,
			              ./images/sliders/mobile/coffee-shop-m@2x.jpg 2x
			            " src="./images/sliders/mobile/coffee-shop-m.jpg" alt="Кав'ярня" />
					</picture>
				</div>
			</div>

			<div class="arrows arrows--rigth">
				<button class="arrow-left" type="button">
					<svg width="32" height="32">
						<use href="./images/icons.svg#icon-arrow-left"></use>
					</svg>
				</button>
				<button class="arrow-right" type="button">
					<svg width="32" height="32">
						<use href="./images/icons.svg#icon-arrow-right"></use>
					</svg>
				</button>
			</div>
		</div>

		<!-- Buttons -->

		<a class="link details-button" href="#">Детальніше</a>
		<button class="price-button" type="button" data-modal-open>Переглянути ціни</button>


	</div>
</section>