<section class="section triple-room">
  <div class="gradient">
    <div class="container">
      <div class="triple-room__wrap">
        <div class="triple-room__wrapper">
          <h3 class="triple-room__subtitle">Amet minim mollit non</h3>
          <span class="logo logo--medium-dark triple-room__logo">Mimiho</span>
        </div>
        <div class="double-room__text-wrap">
          <h2 class="double-room__title">Трьохмісний номер</h2>
          <p class="triple-room__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>

        <div class="triple-room__image-wrap">
          <picture>
            <source
              srcset="
                /src/images/pages/desktop/hotel-room-d.jpg,
                /src/images/pages/desktop/hotel-room-d@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="460"
              height="574"
            />
            <source
              srcset="
                /src/images/pages/tablet/hotel-room-t.jpg,
                /src/images/pages/tablet/hotel-room-t@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              width="400"
              height="524"
            />

            <source
              srcset="
                /src/images/pages/mobile/hotel-room-m.jpg,
                /src/images/pages/mobile/hotel-room-m@2x.jpg 2x
              "
              media="(max-width: 1023px)"
              width="246"
              height="322"
            />
            <img
              class="double-room__image"
              src="/src/images/pages/desktop/hotel-room-d.jpg"
              alt="Двомісний номер"
              width="460"
              height="574"
            />
          </picture>
        </div>
        <div class="triple-room__sl-wrapper">
          <!-- <div class="double-room__slider"> -->
          <!-- Слайдер для використання з правої сторони -->
          <div class="hotel-slider__container hotel-slider--right-pos">
            <div class="hotel-slider swiper-container">
              <div class="hotel-slider__wrapper swiper-wrapper">
                <div class="hotel-slider__slide swiper-slide">
                  <picture>
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./images/sliders/desktop/hotel-sink-d.jpg    1x,
                        ./images/sliders/desktop/hotel-sink-d@2x.jpg 2x
                      "
                    />
                    <img
                      class="hotel-slider__picture"
                      srcset="
                        ./images/sliders/mobile/hotel-sink-m.jpg    1x,
                        ./images/sliders/mobile/hotel-sink-m@2x.jpg 2x
                      "
                      src="./images/sliders/mobile/hotel-sink-m.jpg"
                      alt="Раковина"
                    />
                  </picture>
                </div>

                <div class="hotel-slider__slide swiper-slide">
                  <picture>
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./images/sliders/desktop/teacup-trees-d.jpg    1x,
                        ./images/sliders/desktop/teacup-trees-d@2x.jpg 2x
                      "
                    />
                    <img
                      class="hotel-slider__picture"
                      srcset="
                        ./images/sliders/mobile/teacup-trees-m.jpg    1x,
                        ./images/sliders/mobile/teacup-trees-m@2x.jpg 2x
                      "
                      src="./images/sliders/mobile/teacup-trees-m.jpg"
                      alt="Чашка на фоні дерев"
                    />
                  </picture>
                </div>
              </div>

              <div class="arrows triple-room__arrows">
                <button class="arrow-left" type="button">
                  <svg width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-left"></use>
                  </svg>
                </button>
                <button class="arrow-right" type="button">
                  <svg width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                  </svg>
                </button>
              </div>

              <div class="hotel-slider__shadow-triple"></div>
              <div class="hotel-slider__shadow-triple-second"></div>
            </div>
          </div>
          <div class="triple-room__nav">
            <a
              class="main-button main-button--dark link-unstyled"
              href="./suite.html"
              >Детальніше</a
            >
            <button
              class="js-open-modal main-button main-button--dark"
              type="button"
              data-modal="price"
              id="open-modal-price"
            >
              Переглянути ціни
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
