<div class="container">
  <!-- Слайдер для використання з правої сторони -->
  <div class="two-img-slider__container">
    <div class="two-img-slider swiper-container">
      <div class="two-img-slider__wrapper swiper-wrapper">
        <div class="two-img-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/bathtub-d.jpg    1x,
                ./images/sliders/desktop/bathtub-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/bathtub-t.jpg    1x,
                ./images/sliders/tablet/bathtub-t@2x.jpg 2x
              "
            />
            <img
              class="two-img-slider__picture"
              srcset="
                ./images/sliders/mobile/bathtub-m.jpg    1x,
                ./images/sliders/mobile/bathtub-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/bathtub-m.jpg"
              alt="Ванна кімната"
            />
          </picture>
        </div>

        <div class="two-img-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/breakfast-d.jpg    1x,
                ./images/sliders/desktop/breakfast-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/breakfast-t.jpg    1x,
                ./images/sliders/tablet/breakfast-t@2x.jpg 2x
              "
            />
            <img
              class="two-img-slider__picture"
              srcset="
                ./images/sliders/mobile/breakfast-m.jpg    1x,
                ./images/sliders/mobile/breakfast-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/breakfast-m.jpg"
              alt="Сніданок"
            />
          </picture>
        </div>

        <div class="two-img-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/brunch-mimosas-d.jpg    1x,
                ./images/sliders/desktop/brunch-mimosas-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/brunch-mimosas-t.jpg    1x,
                ./images/sliders/tablet/brunch-mimosas-t@2x.jpg 2x
              "
            />
            <img
              class="two-img-slider__picture"
              srcset="
                ./images/sliders/mobile/brunch-mimosas-m.jpg    1x,
                ./images/sliders/mobile/brunch-mimosas-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/brunch-mimosas-m.jpg"
              alt="Коктейлі з їжею"
            />
          </picture>
        </div>

        <div class="two-img-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/coffee-shop-d.jpg    1x,
                ./images/sliders/desktop/coffee-shop-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/coffee-shop-t.jpg    1x,
                ./images/sliders/tablet/coffee-shop-t@2x.jpg 2x
              "
            />
            <img
              class="two-img-slider__picture"
              srcset="
                ./images/sliders/mobile/coffee-shop-m.jpg    1x,
                ./images/sliders/mobile/coffee-shop-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/coffee-shop-m.jpg"
              alt="Кав'ярня"
            />
          </picture>
        </div>
      </div>

      <div class="arrows arrows--rigth">
        <button class="arrow-left" type="button">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="arrow-right" type="button">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Слайдер для використання з лівої сторони -->
  <div class="two-img-slider__container">
    <div class="two-img-slider swiper-container" dir="rtl">
      <div class="two-img-slider__wrapper swiper-wrapper">
        <div class="two-img-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/bathtub-d.jpg    1x,
                ./images/sliders/desktop/bathtub-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/bathtub-t.jpg    1x,
                ./images/sliders/tablet/bathtub-t@2x.jpg 2x
              "
            />
            <img
              class="two-img-slider__picture"
              srcset="
                ./images/sliders/mobile/bathtub-m.jpg    1x,
                ./images/sliders/mobile/bathtub-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/bathtub-m.jpg"
              alt="Ванна кімната"
            />
          </picture>
        </div>

        <div class="two-img-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/breakfast-d.jpg    1x,
                ./images/sliders/desktop/breakfast-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/breakfast-t.jpg    1x,
                ./images/sliders/tablet/breakfast-t@2x.jpg 2x
              "
            />
            <img
              class="two-img-slider__picture"
              srcset="
                ./images/sliders/mobile/breakfast-m.jpg    1x,
                ./images/sliders/mobile/breakfast-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/breakfast-m.jpg"
              alt="Сніданок"
            />
          </picture>
        </div>

        <div class="two-img-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/brunch-mimosas-d.jpg    1x,
                ./images/sliders/desktop/brunch-mimosas-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/brunch-mimosas-t.jpg    1x,
                ./images/sliders/tablet/brunch-mimosas-t@2x.jpg 2x
              "
            />
            <img
              class="two-img-slider__picture"
              srcset="
                ./images/sliders/mobile/brunch-mimosas-m.jpg    1x,
                ./images/sliders/mobile/brunch-mimosas-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/brunch-mimosas-m.jpg"
              alt="Коктейлі з їжею"
            />
          </picture>
        </div>

        <div class="two-img-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/sliders/desktop/coffee-shop-d.jpg    1x,
                ./images/sliders/desktop/coffee-shop-d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/sliders/tablet/coffee-shop-t.jpg    1x,
                ./images/sliders/tablet/coffee-shop-t@2x.jpg 2x
              "
            />
            <img
              class="two-img-slider__picture"
              srcset="
                ./images/sliders/mobile/coffee-shop-m.jpg    1x,
                ./images/sliders/mobile/coffee-shop-m@2x.jpg 2x
              "
              src="./images/sliders/mobile/coffee-shop-m.jpg"
              alt="Кав'ярня"
            />
          </picture>
        </div>
      </div>

      <div class="arrows" dir="ltr">
        <button class="arrow-left" type="button">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="arrow-right" type="button">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
