.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  @include flex($justify: space-between);

  @include tablet-up {
    @include flex;
  }
}

.navigation__links {
  @include flex;

  @include tablet-up {
    margin-right: 59px;
  }
}

.navigation__contact-phone-header {
  display: none;

  @include tablet-up {
    @include flex;
    padding: 8px;

    color: $color-white;
  }
}

.navigation__contact-container-header {
  display: none;

  @include tablet-up {
    display: flex;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 9px;

  @include tablet-up {
    margin-right: 87px;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @include desktop-up {
    margin-right: 96px;
    padding-left: 0;
  }
}

.navigation__links {
  padding-top: 28px;
  padding-bottom: 12px;
  gap: 20px;

  @include tablet-up {
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 72px;
  }
}

.navigation__option {
  @include flex;
}
.navigation__item {
  margin-right: 6px;

  @include tablet-up {
    margin-right: 32px;
  }
}

.navigation__contacts {
  display: none;

  @include tablet-up {
    @include flex;

    margin-right: 20px;

    margin-right: 72px;
    min-width: 144px;
    max-width: 264px;
    height: 40px;
  }
}

.navigation__links-mobile {
  padding: 0;
  @include flex;
  gap: 20px;
}
.navigation__contact-phone {
  display: none;

  @include tablet-up {
    padding: 8px;
    @include flex;

    color: $color-white;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
  }
}

.navigation__contact-phone-header {
  @include flex;

  color: $color-white;

  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.navigation__contact-container-header {
  display: none;

  @include tablet-up {
    @include flex;
    white-space: nowrap;
    border: 1px solid $color-brand;
    border-radius: 2px;
  }
}

.navigation__item {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;

  color: $color-brand;

  @include tablet-up {
    font-size: 20px;
  }
}

.navigation__contacts-mobile {
  @include flex;

  @include tablet-up {
    display: none;
  }
}

.socials__header {
  display: none;

  @include desktop-up {
    @include flex;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-left: 59px;
  }
}

.navigation__icons {
  fill: $color-brand;

  @include tablet-up {
    margin-right: 8px;
  }
}

.socials__icon {
  fill: $color-brand;

  @include tablet-up {
    margin-right: 8px;
  }
}
