.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navigation {
  // @media screen and (max-width: 413px) {
  //   align-items: flex-start;
  // }
  @include flex($justify: space-between);
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 9px;

  transition: color $transition-time $cubic-bezier;

  &:hover, &:focus, &:active {
      color: $color-brand;
  }

  @media screen and (max-width: 413px) {
    padding: 0;
  }

  @include tablet-up {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.navigation__box {
  @include desktop-up {
    display: flex;
    gap: 59px;
  }

}

.navigation__links {
  @include flex ($type: inline-flex);
  gap: 20px;
  padding-top: 28px;
  padding-bottom: 12px;
  
  @media screen and (max-width: 413px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    padding: 0;
  }

  @include tablet-up {
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 72px;
  }
}

.navigation__option {
  @media screen and (max-width: 413px) {
    flex-direction: row-reverse;
    gap: 4px;
  }

  @include flex;
}

.navigation__item {
  margin-right: 6px;

  font-weight: 500;
  line-height: 1.2;

  color: $color-brand;
  transition: color $transition-time $cubic-bezier;

  @media screen and (max-width: 413px) {
    padding: 4px 0;
  }

  @include tablet-up {
    margin-right: 32px;
    font-size: 20px;
  }

  &:hover, &:focus, &:active  {
    color: $color-white;
   }
}

.navigation__contact-container {
  display: none;

  @include tablet-up {
    @include flex;
    white-space: nowrap;
    border: 1px solid $color-brand-light;
    border-radius: 2px;
    fill: $color-brand;
    transition: border-color $transition-time $cubic-bezier, fill $transition-time $cubic-bezier;
  }

  &:hover, &:focus, &:active  {
    border-color:  $color-white;
    fill: $color-white;
  }
}

.navigation__contact-phone {
  display: none;

  @include tablet-up {
    @include flex;
    padding: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;

    color: $color-white;
    transition: color $transition-time $cubic-bezier;
  }

  &:hover, &:focus, &:active  {
    color: $color-brand;
  }
}

.navigation__icons {
  @include tablet-up {
    margin-right: 8px;
  }
}

.navigation__links-mobile {
  @include flex;
  padding: 0;
  gap: 20px;
}

.navigation__contacts-mobile {
  @include flex;
  fill: $color-brand;
  transition: fill $transition-time $cubic-bezier;

  @media screen and (max-width: 413px) {
    padding: 4px 0;
  }

  @include tablet-up {
    display: none;
  }

  &:hover, &:focus, &:active  {
    fill: $color-white
   }
}

.header__socials {
  display: none;

  @include desktop-up {
    @include flex ($type: inline-flex);
    gap: 20px;
   
    padding-top: 38px;
    padding-bottom: 38px;
  }
}