.hero {
  position: relative;
    padding-top: 181px;
    padding-bottom: 102px;
    height: 740px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: $bg-footer;
    background-image: linear-gradient($bg-arrow, $bg-arrow), url(../images/pages/mobile/homepage-hero-m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    @include tablet-up {
        padding-top: 188px;
        padding-bottom: 64px;
        height: 720px;
    }

    @include desktop-up {
        padding-top: 164px;
        padding-bottom: 65px;
    }

}

@include double-background {
    .hero {
      background-image: linear-gradient($bg-arrow, $bg-arrow), url(../images/pages/mobile/homepage-hero-m@2x.jpg);
    }
  }


  @include tablet-up {
    .hero {
      background-image: linear-gradient($bg-arrow, $bg-arrow), url(../images/pages/tablet/homepage-hero-t.jpg);
    }

    @include double-background {
      .hero {
        background-image: linear-gradient($bg-arrow, $bg-arrow), url(../images/pages/tablet/homepage-hero-t@2x.jpg);
      }
    }
      }

      @include desktop-up {
        .hero {
          background-image: linear-gradient($bg-arrow, $bg-arrow), url(../images/pages/desktop/homepage-hero-d.jpg);
        }
    
    @include double-background {
          .hero {
            background-image: linear-gradient($bg-arrow, $bg-arrow), url(../images/pages/desktop/homepage-hero-d@2x.jpg);
          }
        }
          }


 .hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    max-width: 303px;
    margin-right: auto;
    margin-left: auto;
    color: $color-white;
    font-family: Film P3, sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    text-transform: uppercase;


    @include tablet-up {
     margin-bottom: 16px;
     max-width: 404px;
     font-size: 128px;
     line-height: 1.08;
   }

    @include desktop-up{
     margin-bottom: 32px;
   }
}

 .hero__subtitle {
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 294px;
    margin-right: auto;
    margin-left: auto;
    color: $color-white;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;

    @include tablet-up {
      margin-bottom: 56px;
      max-width: 368px;
      font-size: 20px;
      line-height: 1.2;
    }
    
    @include desktop-up{
      margin-bottom: 64px;
    }

          }

.hero__phrase{
  margin-top: 0;
  margin-bottom: 113px;
  max-width: 318px;
  margin-right: auto;
  margin-left: auto;
  color: $color-white;
  font-family: Times New Roman, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;


  @include tablet-up {
    margin-bottom: 145px;
    max-width: 358px;
    font-size: 36px;
    line-height: 1.14;
  }
  
  @include desktop-up{
    margin-bottom: 144px;
  }
}

.location {
  position: absolute;
  top: 64px;
  right: 15px;


  display: flex;
  gap: 8px;
  width: 210px;
  height: 47px;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 6px;
  // padding-right: 0;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: $border-radius-small;

  text-decoration: none;
  fill: $color-brand;
  color: $color-address;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-align: left;


    @include tablet-up {
      left: 47px;
      bottom: 64px;
      top: auto;
      gap: 10px;
      width: 285px;
      height: 56px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 8px;
      font-size: 16px;
    }
    
    @include desktop-up{
      left: 85px;
    }

}

.location__address{
  width: 233px;

  @include mobile-only{
    width: 176px;
  }
}


.hero-buttons{
  @include tablet-up{
    display: flex;
    gap: 40px;
    justify-content: flex-end;
  }

  @include desktop-up{
    gap: 60px;
  }

}

.hero-buttons__item{
  display: flex;
  justify-content: center;
  width: 236px;
  padding-top: 13px;
  padding-bottom: 11px;
  border-radius: $border-radius-big;
  border: 2px solid $color-white;
  
  background-color: $bg-button;
  color: $color-brand;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

@include mobile-only{
  margin-right: auto;
  margin-left: auto;

   &:not(:last-of-type){
   margin-bottom: 24px;
  }

   &:last-of-type{
  margin-bottom: 58px;
  }
}



}


.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .socials__icon{
    fill: rgba(243, 198, 83, 0.7);
  }

  .hero__socials{
    position: absolute;
    left: 15px;
    bottom: 20px;

    @include tablet-up {
      left: 47px;
      bottom: 15px;
      }
      
    @include desktop-up{
        display: none;
      }

  }


  