
.hero-slider {
    // outline: 1px dashed red;

    position: relative;

    margin: 0 auto;
    overflow: hidden;
    @include mobile-up {
        width: 414px;
    }

    @include tablet-up {
        width: 1024px;
    }

    @include desktop-up {
        width: 1280px;
    }
}

// ? Робив за прикладом з відео, не факт що якось впливає
.hero-slider__image {
    text-align: center;
}

.hero-slider__image img {
    object-fit: cover;
}
// ?


// Стрілки
.hero-slider__nav {
    // outline: 1px dashed tomato;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @include tablet-up {
        padding-left: 47px;
        padding-right: 47px;
    }

    @include desktop-up {
        padding-left: 85px;
        padding-right: 85px;
    }
}

.hero-slider__button {
    // outline: 1px dashed teal;
    
    @include flex;
    border: none;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.65);
    fill: $color-brand;
    transition: fill $transition-time $cubic-bezier;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        fill: $color-white;
    }
}

.hero-slider__icon {
    width: 40px;
    height: 40px;
}