// styles

.wrapper {
    // outline: 1px dashed red;
    overflow: hidden;
    margin: 0 auto;
    // padding-left: 15px;
    // padding-right: 15px;

        //todo Breakpoint MOBILE:
        @media screen and (min-width: 414px) {
            width: 414px;
        }
    
        //todo Breakpoint TABLET:
        @media screen and (min-width: 970px) {
            width: 970px;
        }
    
        //todo Breakpoint DESKTOP:
        @media screen and (min-width: 1150px) {
            width: 1150px;
        }
    }


// .image-slider__wrapper {
//     position: relative;

// }

.hero-slider {
    position: relative;
}

.hero-slider__image {
    text-align: center;
}

.hero-slider__image img {
    // width: 194px;
    max-width: 100%;
    object-fit: cover;
}

// Стрілки

.hero-slider__nav {
    // outline: 1px dashed tomato;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    //todo Breakpoint TABLET:
    @media screen and (min-width: 970px) {
        padding-left: 47px;
        padding-right: 47px;
    }

    //todo Breakpoint DESKTOP:
    @media screen and (min-width: 1150px) {
        padding-left: 85px;
        padding-right: 85px;
    }
}

    


.hero-slider__button {
    // outline: 1px dashed teal;
    
    @include flex;
    // display: flex;
    // justify-content: center;
    // text-align: center;

    // width: 40px;
    // height: 40px;
    border: none;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.65);
    fill: $color-brand;
    transition: fill $transition-time $cubic-bezier;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        fill: $color-white;
    }
}

.hero-slider__icon {
    width: 40px;
    height: 40px;
}