.hotel-section {
  padding: 18px 15px 20px;

  &__slogan {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: $color-title-light;
  }

  &__logo {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: #494848;
  }

  &__text {
    width: 242px;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $color-text-dark;

    &--brown {
      width: 163px;
      color: $color-brand-dark;
    }
  }
}
