%positioning-lines{
    position: relative;
    top: 0;
    left: 0;

    @media screen and (min-width:1024px) and (max-width:1279px) {
        width: 1024px;
        height: 100%;
    }

    @media screen and (min-width:1280px) {
        width: 1280px;
        height: 100%;
    }
}

%positioning-rectangle
{
    position: absolute;
    border: 1px solid rgba(186, 186, 186, 0.4);
    filter: blur(0.5px);
    top: 0;

}

@mixin left-rect($width, $height) {
    width: $width;
    height: $height;
    right: 50%;
    border-width: 0 0 0 1px
}

@mixin right-rect($width, $height) {
    width: $width;
    height: $height;
    left: 50%;
    border-width: 0 1px 0 1px
}
@mixin left-coner ($width, $height) {
    width: $width;
    height: $heigh;
    left: 0;
    border-width: 0 1px 0 0;
}
@mixin right-coner ($width, $height) {
    width: $width;
    height: $heigh;
    right: 0;
    border-width: 0 0 0 1px;
}



// РЕСТОРАН

// restorant menu

 


.restorant-menu__container {
    @extend %positioning-lines;
}

.rectangle {
    @extend %positioning-rectangle;

    @media screen and (min-width:1024px) and (max-width:1279px) {
        @include right-rect (245px, 616px);
           }

    @media screen and (min-width:1280px) {
    @include left-rect(302px,616px);
    }


}

.rectangle1 {
    @extend %positioning-rectangle;

    @media screen and (min-width:1280px) {
        @include right-rect(302px,616px);       
    }
}

// About our kitchen
.about-kitchen__container{
        @extend %positioning-lines;
}

.rectangle2{
    @extend %positioning-rectangle;

    @include left-coner(140px, 1191px); 

    @media screen and (min-width:1024px) and (max-width:1279px) {
           @include right-rect(234px,1238px);
        } 

    @media screen and (min-width:1280px) {
           @include right-rect(302px,1277px);
        }
}

.rectangle3{
    @extend %positioning-rectangle;

@include right-coner(140px, 1191px);

    @media screen and (min-width:1024px) and (max-width:1279px) {
           @include left-rect(234px,1238px);
        }
@media screen and (min-width:1280px) {
           @include left-rect(302px,1277px);
        }
}


// HOMEPAGE

.homepage__container{
    @extend %positioning-lines;
}

.rectangle4 {
    @extend %positioning-rectangle;

    @include left-coner(140px, 5142px);

    @media screen and (min-width:1024px) and (max-width:1279px) {
        @include right-rect(234px, 4957px);
    }

    @media screen and (min-width:1280px) {
        @include right-rect(302px, 5064px);
    }
}
.rectangle5 {
    @extend %positioning-rectangle;

    @include right-coner(140px, 5142px);

    @media screen and (min-width:1024px) and (max-width:1279px) {
        @include left-rect(234px, 4957px);
    }

    @media screen and (min-width:1280px) {
        @include left-rect(302px, 5064px);
    }
}

//footer-homepage

.homepage-footer__container{
    @extend %positioning-lines;
}



.rectangle6 {
    @extend %positioning-rectangle;

    @include right-coner(150px, 240px);

    @media screen and (min-width:1024px) and (max-width:1279px) {
        @include right-rect(239px, 304px);
    }

    @media screen and (min-width:1280px) {
        @include right-rect(301px, 304px);
    }
}


//FOOTER (ВСЕ страницы кроме homepage)

.footer__container{
    @extend %positioning-lines;
}

.rectangle7 {
    @extend %positioning-rectangle;

    @media screen and (min-width:1024px) and (max-width:1279px) {
        @include right-rect(239px, 304px);
    }

    @media screen and (min-width:1280px) {
        @include right-rect(301px, 304px);
    }
}

//Готель

.two-person__container{
     @extend %positioning-lines;
}

.rectangle8 {
    @extend %positioning-rectangle;   

    @media screen and (min-width:1024px) and (max-width:1279px) {
        @include right-rect(234px, 1558px);
    }

    @media screen and (min-width:1280px) {
        @include right-rect(302px, 3588px);
    }
}

.rectangle9 {
    @extend %positioning-rectangle;

    @media screen and (min-width:1024px) and (max-width:1279px) {
        @include left-rect(234px, 1558px);
    }

    @media screen and (min-width:1280px) {
        @include left-rect(302px, 3588px);
    }
}

//НОМЕР

.room__container{
     @extend %positioning-lines;
}

.rectangle10 {
    @extend %positioning-rectangle;   

    @media screen and (min-width:1280px) {
        @include right-rect(302px, 1051px);
    }
}

.rectangle11 {
    @extend %positioning-rectangle;

    @media screen and (min-width:1280px) {
        @include left-rect(302px, 1051px);
    }
}