.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    // !!! Для роботи скрипта відкриття модалки 
    // !!! не вистачало значення opacity:1;
    opacity: 1;
    visibility: visible;
    transition: opacity $transition-time $cubic-bezier, visibility $transition-time $cubic-bezier;
    z-index: 10;

    // !!! Я б радив підібрати колір з прозорістю (rgba)
    // !!! і задати його через змінну $
    background-color: rgba(26, 22, 22, 0.7);

    
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(2) rotate(180deg);
}

.modal {
    // !!! Намагався зробити респонсив 
    // @media screen and (max-width: 414px) {
    //     width: 100%;
    // }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    width: 414px;
    // min-height: 668px;
    padding: 60px 15px;


    background-color: #FFFDEE;
    border-radius: 4px;
    transition: transform $transition-time $cubic-bezier, box-shadow $transition-time $cubic-bezier;

    @include tablet-up {
        width: 712px;
        padding: 60px;
    }
}

.room {
    min-height: 780px;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: inherit;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    // !!! Замінив іконку в спрайті на коректну, підключив
    // !!! Колір конкретно цієї іконки задається через stroke (не через fill)
    stroke: $color-black;
    transition: stroke $transition-time $cubic-bezier;

    &:hover, &:focus, &:active {
        stroke: $color-brand;
    }
}

.modal-title {
    margin-bottom: 40px;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
    // display: inline-block;

    @include tablet-up {
        font-size: 40px;
        line-height: 1.15;
    }

}

.modal-subtitle {
    margin-bottom: 28px;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: #808080;
}

// .modal-form {
//     display: block;
//     // padding-left: 15px;
//     // padding-right: 15px;
// }

.form-label {
    display: inline-block;
    color: $color-brand-dark;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    // margin-top: 8px;
    padding-left: 12px;
    font-family: 'Montserrat';
}

.form-control {
    position: relative;
}

.inputs-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet-up {
        flex-direction: row;
        gap: 16px;
    }
}

// .first-column {
//     display: flex;
//     flex-direction: column;
//     gap: 40px;
// }

.first-inputs-column {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 20px;

    @include tablet-up {
        gap: 0;
        justify-content: space-between;
    }
}

.second-inputs-column {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 20px;

    @include tablet-up {
        gap: 28px;
    }
}


.first-column1 {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.form-input {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    color: #808080;
    font-family: 'Times New Roman';

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    height: 40px;
    border: 1px solid $color-brand-dark;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}


.select-container,
.select-container1,
.select-container-room,
.select-container-exit,
.select-container-night {
    position: relative;
    // margin: 0 auto;
    width: 100%;
    // margin-top: 28px;
}

.select-container .select,
.select-container1 .select1,
.select-container-room .select-room,
.select-container-exit .select-exit,
.select-container-night .select-night {
    position: relative;
    background: white;
    width: 100%;
    height: 40px;
    border: 1px solid $color-brand-dark;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.select-container .select::after,
.select-container1 .select1::after,
.select-container-room .select-room::after,
.select-container-exit .select-exit::after,
.select-container-night .select-night::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    // top: 50%;
    top: 40%;
    right: 15px;
    transform: translateY(-50%) rotate(45deg);
    border-bottom: 2px solid $color-brand-dark;
    border-right: 2px solid $color-brand-dark;
    cursor: pointer;
}

.select-container.active .select::after,
.select-container1.active .select1::after,
.select-container-room.active .select-room::after,
.select-container-exit.active .select-exit::after,
.select-container-night.active .select-night::after {
    border: none;
    border-left: 2px solid $color-brand-dark;
    border-top: 2px solid $color-brand-dark;
}

.select-container .select input,
.select-container1 .select1 input,
.select-container-room .select-room input,
.select-container-exit .select-exit input,
.select-container-night .select-night input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background: none;
    outline: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: #808080;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.05em;
}

.select-container .option-container,
.select-container1 .option-container1,
.select-container-room .option-container-room,
.select-container-exit .option-container-exit,
.select-container-night .option-container-night {
    position: relative;
    background: white;
    height: 0;
    width: 100%;
    overflow-y: scroll;
    transition: 0.4s;
}

.select-container.active .option-container,
.select-container1.active .option-container1,
.select-container-room.active .option-container-room,
.select-container-exit.active .option-container-exit,
.select-container-night.active .option-container-night {
    height: 240px;
}

.select-container .option-container::-webkit-scrollbar,
.select-container1 .option-container1::-webkit-scrollbar,
.select-container-room .option-container-room::-webkit-scrollbar,
.select-container-exit .option-container-exit::-webkit-scrollbar,
.select-container-night .option-container-night::-webkit-scrollbar {
    width: 3px;
}

.select-container .option-container::-webkit-scrollbar-thumb,
.select-container1 .option-container1::-webkit-scrollbar-thumb,
.select-container-room .option-container-room::-webkit-scrollbar-thumb,
.select-container-exit .option-container-exit::-webkit-scrollbar-thumb,
.select-container-night .option-container-night::-webkit-scrollbar-thumb {
    background: $color-brand-dark;
}

.select-container .option-container .option,
.select-container1 .option-container1 .option1,
.select-container-room .option-container-room .option-room,
.select-container-exit .option-container-exit .option-exit,
.select-container-night .option-container-night .option-night {
    position: relative;
    padding-left: 15px;
    height: 60px;
    border-bottom: 1px solid $color-brand-dark;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.select-container .option-container .option.selected,
.select-container1 .option-container1 .option1.selected,
.select-container-room .option-container-room .option-room.selected,
.select-container-exit .option-container-exit .option-exit.selected,
.select-container-night .option-container-night .option-night.selected {
    background-color: #F3C653;
    pointer-events: none;
}

.select-container .option-container .option:hover,
.select-container1 .option-container1 .option1:hover,
.select-container-room .option-container-room .option-room:hover,
.select-container-exit .option-container-exit .option-exit:hover,
.select-container-night .option-container-night .option-night:hover {
    background: rgba(0, 0, 0, 0.2);
    padding-left: 20px;
}

.select-container .option-container .option label,
.select-container1 .option-container1 .option1 label,
.select-container-room .option-container-room .option-room label,
.select-container-exit .option-container-exit .option-exit label,
.select-container-night .option-container-night .option-night label {
    color: #808080;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    cursor: pointer;
}

// !!! Cелектор для кнопки модалки
// !!! Основні стилі в _buttons.scss, тут лише позиціонування
.book-button--modal {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 40px;
    // margin-bottom: 60px;
}

.price {
    border: none;
    padding: 0;
}

// @media screen and (min-width: 1024px) {
//     .modal {
//         width: 712px;
//         min-height: 414px;
//     }

//     .modal-room {
//         width: 712px;
//         min-height: 712px;
//     }

//     .modal-form {
//         display: block;
//         padding: 0;
//     }

    // .modal-title {
    //     font-size: 40px;
    //     line-height: 1.15;
    //     margin-bottom: 40px;
    //     // margin-left: 88px;
    // }


    // !!! Що це?
    // .inputs-room, 
    // .inputs,
    // .inputs1 {
    //     display: flex;
    //     flex-direction: row;
    //     gap: 16px;
    //     width: 720px;
    //     padding-left: 60px;
    //     padding-right: 60px;
    //     justify-content: space-between;
    // }






    .select-container,
    .select-container1,
    .select-container-room,
    .select-container-exit,
    .select-container-night {
        margin-top: 0px;
        min-width: 288px;
    }

    .first-column1 {
        justify-content: space-between;
        height: 312px;
    }

    .second-column {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }



    .form-label {
        font-size: 16px;
        line-height: 1.25;
    }

    .form-input,
    .select-container .select,
    .select-container1 .select1,
    .select-container-room .select-room,
    .select-container-exit .select-exit,
    .select-container-night .select-night {
        // width: 288px;
        height: 64px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.05em;
    }

    .select-container .select input,
    .select-container1 .select1 input,
    .select-container .option-container .option label,
    .select-container1 .option-container1 .option1 label,
    .select-container-room .select-room input,
    .select-container-exit .select-exit input,
    .select-container-room .option-container-room .option-room label,
    .select-container-exit .option-container-exit .option-exit label {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.05em;
    }
// }

// @media screen and (min-width: 1280px) {
//     .modal {
//         width: 712px;
//         min-height: 522px;
//     }
// }