.restorant-menu__section-title {
font-family: 'Times New Roman', Times, serif;
font-style: 700;
color: $color-black;
font-size: 32px;
line-height: 1.16;
text-transform: uppercase;
margin-bottom: 32px;
}

.dish-type{
    font-family: 'Times New Roman', Times, serif;
    font-style: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: left;
    margin: 16px;
    color: $color-black;
}

.menu-list__item:not(:last-child){
    margin-bottom: 16px;
}
.menu-list__item:last-child{
    margin-bottom: 32px;
}

table {
    border-collapse: collapse;
}


table td {
    padding: 10px;
    // border: 1px solid #2a2a2a;
}
.dish{
    font-family:Montserrat;
    font-style: 500;
    font-size: 14px;
    line-height: 1.214;
    color: $color-black;
    letter-spacing: 0.02em;
    margin-bottom: 4px;
}
.menu-list__ingredients{
    font-family:Montserrat;
    font-size: 10px;
    line-height: 1.2;
    color: $color-black;
    letter-spacing: 0.02em;
    
}