.contacts {
  padding-top: 36px;
  padding-bottom: 32px;
  background-color: #fffdee;
}

.contacts__titel {
  margin-top: 12px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $color-text-dark;
}

.contacts__list {
  margin-top: 24px;
}

.contacts__item {
}

.contacts__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: $color-dark-grey;

  &--tel {
  }
}

.contacts__features {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $color-brand-dark;
}

.contacts__map {
  margin-top: 32px;
  // @media screen and (min-width: 900px) {
  //   width: 600px;
  //   height: 450px;
  // }
}

.contacts__icon {
  fill: black;
}
