.two-img-slider {
  width: 350px;
  overflow: hidden;

  @include tablet-up {
    width: 448px;
  }

  @include desktop-up {
    width: 568px;
  }

  // &--right {
  //     // Стилізація коли слайдер має бути праворуч
  // }

  // &--left {
  //     // Стилізація коли слайдер має бути ліворуч
  // }
}

.two-img-slider__wrapper {
  margin-bottom: 20px;

  @include tablet-up {
    margin-bottom: 32px;
  }

  @include desktop-up {
    margin-bottom: 40px;
  }
}

.two-img-slider__picture {
  border-radius: $border-radius-small;
}

.arrows {
  // За замовчуванням стрілочки біля лівого краю слайдеру
  display: flex;
  gap: 10px;

  &--rigth {
    // Коли стрілочки мають бути біля правого краю слайдеру
    justify-content: flex-end;
  }
}

.arrow-left,
.arrow-right {
  fill: $color-black;

  background-color: transparent;
  border: none;

  transition: fill $transition-time $cubic-bezier;

  &:hover,
  &:focus {
    fill: $color-brand;
  }
}
