.socials {
  @include flex;
  gap: 20px;
}

.socials__icon {
  fill: $color-brand-light;
  transition: fill $transition-time $cubic-bezier;
  
    &:hover,
    &:focus,
    &:active {
      fill: $color-white
    }
}
