.logo-subtitle {
	font-family: 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.15;

	margin-bottom: 8px;
	letter-spacing: 0;

	text-align: right;

	color: $color-title-light;

	@media screen and (min-width: 1024px) {
		
		font-size: 32px;
		line-height: 1.156;
		margin-bottom: 4px;
		padding-right: 17px;
	}

		@media screen and (min-width: 1280px) {

			padding-right: 57px;
		}

		
}

.logo-title {
	font-family: 'Film P3';
	font-weight: 700;
	font-size: 40px;
	line-height: 1.075;
	letter-spacing: 0.3em;

	margin-bottom: 32px;
	text-align: right;

	text-transform: uppercase;
	color: #494848;

	@media screen and (min-width: 1024px) {
	
		margin-bottom: 62px;
		padding-right: 17px;

		font-size: 64px;
		line-height: 1.07;
	}

		@media screen and (min-width: 1280px) {

			margin-bottom: 72px;
			padding-right: 57px;
		}
}

.triple-room{
	padding-bottom: 32px;
	padding-top: 32px;

	background:$bg-dark;

	@media screen and (min-width: 1024px){
		padding-bottom:40px;
		padding-top: 66px;
		position: relative;

		
	}

		@media screen and (min-width: 1280px) {
		padding-top: 72px;
		}

	&__thumb{
	margin-bottom: 32px;
	
	@media screen and (min-width: 1024px) {
		margin-bottom: 210px;
		}

	@media screen and (min-width: 1024px) {
		margin-bottom: 260px;
		}
	}

	&__title {
		font-family: 'Times New Roman', Times, serif;
			
		font-weight: 700;
		font-size: 24px;
		line-height: 1.16;

		margin-bottom: 12px;

		letter-spacing: 0.05em;
	
		text-transform: uppercase;
		color: $color-black;
		text-align: right;

			@media screen and (min-width: 1024px) {
					padding-right: 43px;
					font-size: 30px;
					line-height: 1.13;
					margin-bottom: 16px;
				}

			@media screen and (min-width: 1280px) {
					font-size: 36px;
					line-height: 1.15;
					margin-bottom: 24px;
					padding-right: 57px;
				}
		}
	
		&__text {
			font-family: 'Montserrat';
			display: block;
			margin-left: 79px;
			font-size: 12px;
			line-height: 1.219;
	
			color: $color-text-dark;
			
			width: 242px;

			@media screen and (min-width: 1024px) {
				width: 400px;

				margin-left: 510px;

				font-weight: 700;
				font-size: 16px;
				line-height: 1.218;
				}

				@media screen and (min-width: 1280px) {
				margin-left: 600px;
				
				}
		}
}

.triple-room__image {
	margin-bottom: 32px;

	@media screen and (min-width: 1024px){
		position: absolute;

		top: -32px;
		left: 112px;
		margin-bottom: 0;
	}

		@media screen and (min-width: 1280px){

			left: 180px;
			
			box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
			border-radius: 2px;
		}
}

		// slider

.two-img-slider {
	width: 350px;
	overflow: hidden;

	@include tablet-up {
		width: 448px;
	}

	@include desktop-up {
		width: 568px;
	}

	&--right {
		margin-left: 40px;
		margin-bottom: 20px;
		
		@media screen and (min-width: 1024px) {
			position: absolute;
			
			margin-bottom: 0px;
			bottom: 40px;
			right: 47px;
			}

		@media screen and (min-width: 1280px) {
			position: absolute;
			
			right: 85px;
		}
	}
}

.two-img-slider__wrapper {
	margin-bottom: 20px;

	@include tablet-up {
		margin-bottom: 32px;
	}

	@include desktop-up {
		margin-bottom: 40px;
	}
}

.two-img-slider__picture {
	border-radius: $border-radius-small;
}

.arrows {
	// За замовчуванням стрілочки біля лівого краю слайдеру
	display: flex;
	gap: 10px;

	@media screen and (min-width: 1024px){
	&--rigth {
		// Коли стрілочки мають бути біля правого краю слайдеру
		justify-content: flex-start;
	}
	
}
}

.arrow-left,
.arrow-right {
	fill: $color-black;

	background-color: transparent;
	border: none;

	transition: fill $transition-time $cubic-bezier;

	&:hover,
	&:focus {
		fill: $color-brand;
	}
}

	// buttons
.button-tripledetails {

	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 1024px) {
		margin-left: 0;
		margin-right: 0;
	}
}

.button-tripleprices {

	margin-left: auto;
	margin-right: auto;

			@media screen and (min-width: 1024px) {
				margin-left: 0;
					margin-right: 0;
					margin-bottom: 145px;
				}

			@media screen and (min-width: 1280px) {
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 182px;
				}
}

// global styles for button
.button {
	display: block;
	color: $color-brand;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	text-align: center;
	border-radius: 25px;
	padding: 14px 0;
	cursor: pointer;
	width: 236px;

	
}

.button__view-prices,
.button__details {

	background-color: $color-black;
	border: 2px solid $color-white;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border-color: $color-brand;
		background-color: $color-white;
	}

	&--transparent {
		border-color: $color-white;
		background-color: $bg-button;

		&:hover,
		&:focus {

			border-color: $color-white;
			background-color: $color-white;
		}

	}

}

.link {
	text-decoration: none;

}
