.triple-room{
	padding-bottom: 32px;
	padding-top: 32px;

	background:$bg-dark;

	&__thumb{
		box-sizing: border-box;
		

	}

	&__title {
			font-family: 'Times New Roman';
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 1.16;
	
			margin-bottom: 12px;

			letter-spacing: 0.05em;
	
			text-transform: uppercase;
			color: $color-black;
		}
	
		&__text {
			font-family: 'Montserrat';
	
			font-size: 12px;
			line-height: 1.25;
	
			color: $color-text-dark;
	
			margin-bottom: 32px;
		
			
			
	
			width: 242px;
			
			
			text-align: left;

		}
}

.logo-subtitle{
	font-family: 'Times New Roman';
	font-weight: 400;
	font-size: 20px;
	line-height: 1.15;

	margin-bottom: 8px;

	text-align: right;

	color: $color-title-light;
}

.logo-title{
	font-family: 'Film P3';
	font-weight: 700;
	font-size: 40px;
	line-height: 1.075;	
	letter-spacing: 0.3em;

	margin-bottom: 32px;

	text-align: right;
	
	text-transform: uppercase;
	color: #494848;
}

.slider{
	margin-bottom: 20px;
}

.triple-room__image{
	margin-bottom: 32px;
}

.link {
	text-decoration: none;
		color: inherit;
}

.details-button {
	display: block;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
}

.price-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
